{% extends 'Blackjack/base.html' %}

{% block content %}
        {% comment %} USE SQUARE BRACKETS INSIDE APP {% endcomment %}
        <div id='app'>
            <div class='dealer'>
                <div id="dealer-cards">
                    <div v-for="card in dealerCards">
                        <img :src=[[card.image]]>
                    </div>
                </div>
                <p>Dealer Score:[[dealerScore]]</p>
            </div>
            <div id="winner">
                <p id="center-display">[[announceWinner]]</p>
            </div>
            <div class='player'>
                <div id='player-header'>
                    <div id="score">
                        <p>Player Score:[[playerScore]]</p>
                    </div>
                    <div id="buttons">
                        <div v-if="handInSession === false">
                            <button id='deal'@click="deal()">Deal</button>
                        </div>
                        <div v-if="handInSession === true">
                            <button id='hit'@click="hit()">Hit</button>
                            <button id='stand'@click="stand()">Stand</button>
                        </div>
                    </div>
                </div>
                <div id="player-cards">
                    <div v-for="card in playerCards">
                        <img :src=[[card.image]]>
                    </div>
                </div>
            </div>
        </div>
        
        

{% endblock content %}