{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="icon" type="image/x-icon" href="static/club.ico">
        <link rel="stylesheet" href="static/styles.css">
        <title>Capstone - PDX Blackjack</title>
    </head>
    <body>
        {% comment %} USE SQUARE BRACKETS INSIDE APP {% endcomment %}
        <div id='app'>
            <div class='dealer'>
                <h3>Dealer</h3>
                <div v-for="card in dealerCards">
                    <img :src=[[card]]>
                </div>
            </div>
            <div class='player'>
                <div id='player-header'>
                    <h3>Player</h3>
                    <button id='deal'@click="deal()">Deal</button>
                    <button id='hit'@click="hit()">Hit</button>
                    <button id='playerDrawOneCard'@click="playerDrawOneCard()">playerDrawOneCard</button>
                </div>
                <div id="player-cards">
                    <div v-for="card in playerCards">
                        <img :src=[[card]]>
                    </div>
                    <div v-for="card in playerCards">
                        <img :src=[[card]]>
                    </div>
                </div>
            </div>
        </div>
            <script src="{% static '/scripts.js' %}"></script>
            <script>
                const mountApp = app.mount('#app')
            </script>
    </body>
</html>