{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <link rel="stylesheet" href="static/styles.css">
        <title>Capstone - PDX Blackjack</title>
    </head>
    <body>
        <div id='app'>
            <form action="{% url 'Blackjack:mycreate' %}" method="post">
                {% csrf_token %}
                <input type="text" name="myfield"/>
                <button type="submit">submit</button>
            </form>
            <ul>
                {% for myinstance in myinstances %}
                <li>{{ myinstance.myfield }}</li>
                {% endfor %}
            </ul>

        </div>
            <script src="{% static '/scripts.js' %}"></script>

            <script>
                const mountApp = app.mount('#app')
            </script>

    </body>
</html>