*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    height: 100vh;
    width: 100%;
}

#dealer-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#winner{
    display: flex;
    justify-content: center;
}

#center-display{
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#player-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid red; */
}

#buttons{
    display: flex;
    gap: 0.5rem;
    /* border: 1px solid blue; */
}

#player-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#deal{
    width: 4rem;
    height: 2rem;
    border-radius: 15%;
    border: 1px solid yellowgreen;
    background-image: radial-gradient(circle, grey, black);
}

#hit{
    width: 4rem;
    height: 2rem;
    border-radius: 15%;
    border: 1px solid yellowgreen;
    background-image: radial-gradient(circle, green, black);
}

#stand{
    width: 4rem;
    height: 2rem;
    border-radius: 15%;
    border: 1px solid yellowgreen;
    background-image: radial-gradient(circle, red, black);
}

body {
    background: #1f1f1f;
    /* color: whitesmoke; */
  }

#game {
    background: url("table.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* form {
    background: url("table.png");
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
  } */

img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.dealer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

#auth-div{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

#auth-div a{
    color: white;

}

#hidden-form{
    display: none;
}