*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

#app{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 7rem;
    border: 1px solid blue;
}

#dealer-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
}

#player-header{
    border: 1px solid red;
}

#player-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid whitesmoke;
}

#deal{
    border-radius: 15%;
    border: 1px solid black;
    background-color: black;
}

#hit{
    border-radius: 15%;
    border: 1px solid black;
    background-color: black;
}

body {
    background: url("table.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

img {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }

.dealer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: 3px solid white;
}

.player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: 3px solid white;
}